<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="TestSuite" thread-count="3" >
    <test name="Tests">
        <classes>
            <class name="Tests">
                <methods>
                    <include name="UITest"/>
                    <include name="APITest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>